body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 33, 33);
    color: lightgray;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 33, 33);
    position: sticky;
    opacity: 0.8;
    top:0;
}

.nav{
    display: flex;
    flex-flow: row;
    justify-content:space-evenly;
    list-style: none;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.items{
    font-weight: bold;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
}

.items:hover{
    background-color: lightgray;
}

.center{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.month{
    padding: 15px;
    padding-left: 350px;
    padding-right: 350px;
    list-style-type: none;
    background-color: rgb(176, 178, 179);
    color: rgb(51, 50, 50);
    font-weight: bold;
    border: 0.5px solid lightslategrey;
}

.month:hover{
    background-color: lightblue;
}

.months{
    display: flex;
    flex-flow: column;
}

.photos{
    margin-top: 15px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    border: 2px solid gray;
    padding: 15px;
    gap: 30px;
}

.images{
    display: flex;
    flex-flow: column;
    border: 1px dotted grey;
}

.i{
    height: 250px;
    width: 375px;
}

h5{
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
}